body{font-family:Arial; color: black;}
h1{text-align: center;}
legend{font-weight: bold;}

/*FORMULÁRIO*/
form{width:80%; padding:10px; margin: 0 auto; border-radius:10px; display: inline-block;}
input, select, textarea, fieldset{width:100%; padding:10px;margin:15px 0;box-sizing:border-box; outline:none;border:1px solid black; border-radius: 10px;}
.cliente{background-color: antiquewhite;}
.pedido{background-color:aquamarine;}
.cartao{background-color:coral;}
.observacoes{background-color: violet;}

input[type=checkbox], input[type=radio]{width:5%;}

input[type=text]:focus, input[type=password]:focus, input[type=radio]:focus, input[type=checkbox]:focus

textarea{height: 150px; resize: none;}

.btn > *{width: 30%; border: none; padding: 10px; font-size: 16px;background-color: #ccc
    ;}

.btn > *:active{outline: 6px outset greenyellow;}
.btn > *:hover{cursor: pointer; background-color: #a5a5a5;}

input[type=color]{padding: 0;}