body{font-family: Verdana, Geneva, Tahoma, sans-serif; background-color: aqua; font-size:larger;}

h1{text-align: center;}

section{width: 400px;}

/*FORMATANDO O BLOCO 1*/
.bloco1 p{color: blueviolet;}/*formatando todas as tags P dentro da classe bloco 1*/
.bloco1 > p{text-decoration:line-through; text-align: end;} /*esse seletor '>' irá selecionar todas as filhas diretas da tag mãe*/
.bloco1{border: 10px red solid;box-sizing: border-box;padding-top: 10px;padding-bottom: 50px;}/*Quando colocamos 2 valores no margin, o 1º valor irá afetar top e bottom, o 2º valor irá afetar left e right*/

/*FORMATANDO O BLOCO 2*/
.bloco2{border: 10px solid purple; padding: 40px;box-sizing: border-box;}/*box-sizing:border-box irá alterar o comportamento padrão do dimensionamento do elemento HTML. De forma que quando aplicado border e padding, a estrutura não irá expandir, mas ficará com o mesmo tamanho só que recalculado.*/

.bloco2 + p{text-transform: uppercase; color: orangered;}/*o seletor "+" é chamado seletor adjacente, que irá formatar o elemento exatamente após o seletor que usamos como referência, nesse caso é o bloco2.*/